{
  "name" : "Hummingbird",

  "monitor_port" : 4990,
  "tracking_port" : 5990,
  "websocket_port" : 6990,

  "username" : "admin",
  "password" : "change_this",

  "capistrano" : {
    "repository" :       "git://github.com/mnutt/hummingbird.git",
    "hummingbird_host" : "hummingbird.your-host.com"
  }
}
